#root {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
}
.heroImage {
  background-image: url("/src/assets/images/heroServe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.inAppImage {
  background-image: url("/src/assets/images/inApp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutImage {
  background-image: url("/src/assets/images/aboutImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutLastImage {
  background-image: url("/src/assets/images/aboutLastImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.packagesImage {
  background-image: url("/src/assets/images/packagesImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.contactImage {
  background-image: url("/src/assets/images/contactImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.headingFont {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: italic;
}

